.header {
  padding-top: 18px;
  &__inner {
    position: relative;
    height: 68px;
    padding: 0 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    background-color: $color-white;
  }

  &__main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 46px;
  }

  &__logo {
    width: 94px;
    height: 32px;
    text-align: center;
    color: $color-white;
    background-color: $color-black;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 48px;
  }

  &__nav-item {
    @include font-size(16px, 16px);
    font-weight: 400;
    text-decoration: none;
    color: $color-black;
    cursor: pointer;
    transition: color $trans-base;

    &:hover {
      color: $color-green;
    }

    &:active {
      color: $color-green;
    }
  }

  &__aside {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 48px;
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }

  &__link-item {
    text-decoration: none;
    color: $color-black;
    cursor: pointer;
  }

  &__btn {
    padding: 12px 14px;
    @include font-size(14px, 14px);
    color: $color-white;
    background-color: $color-black;
    border-radius: 40px;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid $color-black;
    transition: color $trans-base, background-color $trans-base;

    &:hover {
      color: $color-black;
      background-color: $color-white;
    }
  }

  @media (max-width: 991px) {

    padding: 0;

    .container {
      margin: 0;
      padding: 0;
      max-width: 100%;
    }

    &__inner {
      width: 100%;
      border-radius: 0;
    }

    &__aside {
      display: none;
    }

    &__nav {
      transform: translateX(100%);
      padding-top: 30px;
      height: 100vh;
      width: 30vh;
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 100%;
      right: 0;
      background-color: $color-white;
      z-index: 1;
      transition: transform $trans-base;
    }

    &__nav.open {
      transform: translate(0);
      transition: transform $trans-base;
    }

    .navbar-toggler {
      position: relative;
      display: block;
      z-index: 2;
    }
  }

}


// Bootstrap Burger

.navbar-toggler {
  display: none;
}

.animated-icon {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.animated-icon span {
  background-color: $color-black;
}

.animated-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.animated-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.animated-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}

.animated-icon.open {
  z-index: 20;
}
