mixin carousel-section()

  section.carousel
      .carousel__slider
        .swiper-wrapper
          .swiper-slide
            +img('content', 'neo', 'jpg').carousel__img
          .swiper-slide
            +img('content', 'neo', 'jpg').carousel__img
          .swiper-slide
            +img('content', 'neo', 'jpg').carousel__img
          .swiper-slide
            +img('content', 'neo', 'jpg').carousel__img
          .swiper-slide
            +img('content', 'neo', 'jpg').carousel__img
          .swiper-slide
            +img('content', 'neo', 'jpg').carousel__img
          .swiper-slide
            +img('content', 'neo', 'jpg').carousel__img
          .swiper-slide
            +img('content', 'neo', 'jpg').carousel__img