mixin carousel-section()

  section.carousel
    .carousel__slider
      .swiper-wrapper.carousel__wrapper
        a(href="#").swiper-slide.carousel__item
          +img('content', 'star_1', 'jpg')
        a(href="#").swiper-slide.carousel__item
          +img('content', 'star_2', 'jpg')
        a(href="#").swiper-slide.carousel__item
          +img('content', 'star_3', 'jpg')
        a(href="#").swiper-slide.carousel__item
          +img('content', 'star_4', 'jpg')
        a(href="#").swiper-slide.carousel__item
          +img('content', 'star_5', 'jpg')
        a(href="#").swiper-slide.carousel__item
          +img('content', 'star_6', 'jpg')
        a(href="#").swiper-slide.carousel__item
          +img('content', 'star_7', 'jpg')