mixin carousel-section()

  section.carousel
    .carousel__slider
      .swiper-wrapper.carousel__wrapper
        a(href="#").swiper-slide.carousel__item
          +img('content', 'nft-1', 'jpg')
        a(href="#").swiper-slide.carousel__item
          +img('content', 'nft-2', 'jpg')
        a(href="#").swiper-slide.carousel__item
          +img('content', 'nft-3', 'jpg')
        a(href="#").swiper-slide.carousel__item
          +img('content', 'nft-4', 'jpg')
        a(href="#").swiper-slide.carousel__item
          +img('content', 'nft-5', 'jpg')
        a(href="#").swiper-slide.carousel__item
          +img('content', 'nft-6', 'jpg')