mixin carousel-section()

  section.carousel
    .carousel__slider
      .swiper-wrapper.carousel__wrapper
        a(href="#").swiper-slide.carousel__item
          +img('content', 'tagline-boy', 'jpg')
        a(href="#").swiper-slide.carousel__item
          +img('content', 'tagline-girl', 'jpg')
        a(href="#").swiper-slide.carousel__item
          +img('content', 'tagline-boy', 'jpg')
        a(href="#").swiper-slide.carousel__item
          +img('content', 'tagline-girl', 'jpg')
        a(href="#").swiper-slide.carousel__item
          +img('content', 'tagline-boy', 'jpg')
        a(href="#").swiper-slide.carousel__item
          +img('content', 'tagline-girl', 'jpg')
        a(href="#").swiper-slide.carousel__item
          +img('content', 'tagline-boy', 'jpg')
        a(href="#").swiper-slide.carousel__item
          +img('content', 'tagline-girl', 'jpg')