mixin case-section()

  section.case
    .container
      .case__inner
        .case__img
          +img('content', 'tagline-boy', 'jpg')
        .case__aside
          .case__header OUR WORK
          .case__subheader “Um… what’s going on here?”
          .case__content Nulla facilisi. Praesent molestie diam eu enim aliquet pellentesque. Vestibulum consectetur vestibulum tristique. Sed purus neque, maximus fermentum bibendum et, porta in sapien.
          a.case__link About CODX