mixin collection-section()

  section.collection
    .container
      .collection__inner
        h2.collection__header Browse by Collections
        .collection__list
          a(href="#").collection__item
            .collection__img
              +img('content', 'coll_1', 'jpg')
            .collection__name Collectibles
          a(href="#").collection__item
            .collection__img
              +img('content', 'coll_2', 'jpg')
            .collection__name Collectibles
          a(href="#").collection__item
            .collection__img
              +img('content', 'coll_3', 'jpg')
            .collection__name Collectibles
        a(href="#").collection__link View all