mixin faq-section()

  section.faq
    .container
      .faq__inner
        .faq__header FAQ
        .faq__list
          .faq__item
            .faq__btn
              .faq__tagline Donec posuere massa nec arcu scelerisque, blandit mattis justo blandit
              .faq__arrow
                +icn('icn-arrow', 28, 28)
            .faq__content Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, possimus repellat iste itaque ad dolorum dolores magni quas dicta nisi quis ullam est sequi consequuntur alias, voluptas vitae, animi quo.
          .faq__item
            .faq__btn
              .faq__tagline Quisque at justo semper, faucibus eros sit amet, scelerisque lorem.
              .faq__arrow
                +icn('icn-arrow', 28, 28)
            p.faq__content Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, possimus repellat iste itaque ad dolorum dolores magni quas dicta nisi quis ullam est sequi consequuntur alias, voluptas vitae, animi quo.
          .faq__item
            .faq__btn
              .faq__tagline Nulla eget justo at eros varius consequat.
              .faq__arrow
                +icn('icn-arrow', 28, 28)
            p.faq__content Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, possimus repellat iste itaque ad dolorum dolores magni quas dicta nisi quis ullam est sequi consequuntur alias, voluptas vitae, animi quo.
          .faq__item
            .faq__btn
              .faq__tagline Vivamus non nibh quis massa laoreet semper et eu quam
              .faq__arrow
                +icn('icn-arrow', 28, 28)
            p.faq__content Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, possimus repellat iste itaque ad dolorum dolores magni quas dicta nisi quis ullam est sequi consequuntur alias, voluptas vitae, animi quo.
          .faq__item
            .faq__btn
              .faq__tagline Morbi quis nisi tempus, mollis turpis ut, mollis massa.
              .faq__arrow
                +icn('icn-arrow', 28, 28)
            p.faq__content Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, possimus repellat iste itaque ad dolorum dolores magni quas dicta nisi quis ullam est sequi consequuntur alias, voluptas vitae, animi quo.
