mixin heroes-section()

  section.heroes
    .heroes__slider
      h2.heroes__header  Brave New World
      .swiper-wrapper.heroes__wrapper
        a(href="#").swiper-slide.heroes__item
          +img('content', 'hero', 'png')
        a(href="#").swiper-slide.heroes__item
          +img('content', 'hero', 'png')
        a(href="#").swiper-slide.heroes__item
          +img('content', 'hero', 'png')
        a(href="#").swiper-slide.heroes__item
          +img('content', 'hero', 'png')
        a(href="#").swiper-slide.heroes__item
          +img('content', 'hero', 'png')
        a(href="#").swiper-slide.heroes__item
          +img('content', 'hero', 'png')
        a(href="#").swiper-slide.heroes__item
          +img('content', 'hero', 'png')
        a(href="#").swiper-slide.heroes__item
          +img('content', 'hero', 'png')