mixin nft-section()

  section.nft
    .container
      .nft__inner
        h2.nft__header Top NFT
        .nft__list
          .nft__item
            .nft__img
              +img('content', 'tagline-girl', 'jpg')
            .nft__foot
              .nft__info
                .nft__name White Bear
                .nft__count #54385
              .nft__info
                .nft__visible
                  +icn('icn-visible', 18, 18)
                .nft__lock
                  +icn('icn-lock', 12, 16)
          .nft__item
            .nft__img
              +img('content', 'tagline-girl', 'jpg')
            .nft__foot
              .nft__info
                .nft__name White Bear
                .nft__count #54385
              .nft__info
                .nft__visible
                  +icn('icn-visible', 18, 18)
                .nft__lock
                  +icn('icn-lock', 12, 16)
          .nft__item
            .nft__img
              +img('content', 'tagline-girl', 'jpg')
            .nft__foot
              .nft__info
                .nft__name White Bear
                .nft__count #54385
              .nft__info
                .nft__visible
                  +icn('icn-visible', 18, 18)
                .nft__lock
                  +icn('icn-lock', 12, 16)
          .nft__item
            .nft__img
              +img('content', 'tagline-girl', 'jpg')
            .nft__foot
              .nft__info
                .nft__name White Bear
                .nft__count #54385
              .nft__info
                .nft__visible
                  +icn('icn-visible', 18, 18)
                .nft__lock
                  +icn('icn-lock', 12, 16)
          .nft__item
            .nft__img
              +img('content', 'tagline-girl', 'jpg')
            .nft__foot
              .nft__info
                .nft__name White Bear
                .nft__count #54385
              .nft__info
                .nft__visible
                  +icn('icn-visible', 18, 18)
                .nft__lock
                  +icn('icn-lock', 12, 16)
          .nft__item
            .nft__img
              +img('content', 'tagline-girl', 'jpg')
            .nft__foot
              .nft__info
                .nft__name White Bear
                .nft__count #54385
              .nft__info
                .nft__visible
                  +icn('icn-visible', 18, 18)
                .nft__lock
                  +icn('icn-lock', 12, 16)
        .nft__link View all