mixin person-section()

  section.person#about
    .container
      h2.person__header Hey there, we are
      h4.person__subheader Suspendisse sem neque, auctor a elementum ut, varius vel leo. Donec diam arcu, porta et magna at
      .person__inner
        .person__buttons
          button(data-tab="#person_1").person__btn.active Jack
          button(data-tab="#person_2").person__btn Suni
          button(data-tab="#person_3").person__btn Colin
        .person__about.active#person_1
          .person__img
            +img('content', 'person_1', 'jpg')
          .person__content
            .person__post Digital Artist
            .person__tagline Libero id ultrices tincidunt
            p.person__description Suspendisse ante mauris, volutpat congue sem ac, ultrices tempor lorem. Nullam eget vehicula tellus, ac consectetur urna. Mauris tincidunt, libero id ultrices tincidunt, mi leo pharetra dolor, sed luctus dui ipsum et augue. Integer non quam feugiat, porttitor libero a, tempor neque.
        .person__about#person_2
          .person__img
            +img('content', 'person_2', 'jpg')
          .person__content
            .person__post Product Designer
            .person__tagline Pellentesque blandit in quam rhoncus
            p.person__description Es una marca de moda sostenible que, a través de palabras bonitas o frases divertidas, busca aportar originalidad y un toque diferente a nuestros días. Nuestros diseños son básicos y atemporales, pero sobre todo originales, de alta calidad y 100% sostenibles.
        .person__about#person_3
          .person__img
            +img('content', 'person_3', 'jpg')
          .person__content
            .person__post Account manager
            .person__tagline Sed luctus dui ipsum et augue
            p.person__description Al agregar un toque de latín a una maqueta, puedes mostrar a los clientes una versión más completa de tu diseño sin tener que invertir tiempo y esfuerzo en el Copywriting definitivo que llevará el proyecto en cuestión, busca aportar originalidad y un toque diferente.