mixin powers-section()

  section.powers
    .container
      .powers__inner
        .powers__list
          .powers__item
            .powers__count.powers__count--color-green 01
            .powers__name Motion Graphic
            .powers__content Suspendisse sem neque, auctor a elementum ut, varius vel leo. Donec diam arcu, porta et magna at
          .powers__item
            .powers__count.powers__count--color-pink 02
            .powers__name Digital Illustration
            .powers__content Suspendisse sem neque, auctor a elementum ut, varius vel leo. Donec diam arcu, porta et magna at
          .powers__item
            .powers__count.powers__count--color-yellow 03
            .powers__name Photography
            .powers__content Suspendisse sem neque, auctor a elementum ut, varius vel leo. Donec diam arcu, porta et magna at
        .powers__img
          +img('content', 'geisha', 'jpg')