mixin footer(footerMods)
  footer.footer#footer
    .container
      .footer__inner
        .footer__info
          h4.footer__header NFT-BASE
          .footer__item
            +icn('icn-map', 18, 18).footer__icn
            | USA, New York
          a(href="#").footer__link
            +icn('icn-tel', 18, 18).footer__icn
            | +1 (4323) 354-5673
          a(href="#").footer__link
            +icn('icn-mail', 18, 18).footer__icn
            | nftbase@gmail.com
        .footer__info
          h4.footer__header CONTACT US
          a(href="#").footer__link
            +icn('icn-tg', 18, 18).footer__icn
            | Telegram
          a(href="#").footer__link
            +icn('icn-wp', 18, 18).footer__icn
            | Whatsapp
          a(href="#").footer__link
            +icn('icn-skype', 18, 18).footer__icn
            | Skype
        .footer__info
          h4.footer__header FOLLOW US
          a(href="#").footer__link
            +icn('icn-in', 18, 18).footer__icn
            | LinkedIn
          a(href="#").footer__link
            +icn('icn-git', 18, 18).footer__icn
            | Github
          a(href="#").footer__link
            +icn('icn-fb', 18, 18).footer__icn
            | Facebook