mixin footer(footerMods)
  footer.footer
    .container
      .footer__inner
        .footer__info
          h4.footer__header
            span NETCATS
            +icn('icn-netcats', 22, 22).footer__icn
          .footer__item
            +icn('icn-map', 18, 18).footer__icn
            | Cyprus, Nicosia
          a(href="tel:+905488544607").footer__link
            +icn('icn-tel', 18, 18).footer__icn
            | +90 (548) 854-4607
          a(href="mailto:netcats23@gmail.com").footer__link
            +icn('icn-mail', 18, 18).footer__icn
            | netcats23@gmail.com
        .footer__info
          h4.footer__header CONTACT ME
          a(href="https://t.me/eliasjonah").footer__link
            +icn('icn-tg', 18, 18).footer__icn
            | Telegram
          a(href="https://wa.me/79531446571").footer__link
            +icn('icn-wp', 18, 18).footer__icn
            | Whatsapp
          a(href="viber://chat?number=+79531446571").footer__link
            +icn('icn-vb', 18, 18).footer__icn
            | Viber
        .footer__info
          h4.footer__header FOLLOW ME
          a(href="https://www.linkedin.com/in/eliasjonah/").footer__link
            +icn('icn-in', 18, 18).footer__icn
            | LinkedIn
          a(href="https://github.com/eliasjonah").footer__link
            +icn('icn-git', 18, 18).footer__icn
            | Github
          a(href="https://m.facebook.com/100076522735411/").footer__link
            +icn('icn-fb', 18, 18).footer__icn
            | Facebook