mixin header(headerMods, currentUrl)
  header.header(class=headerMods)
    .container
      .header__inner
        .header__main
          a.header__logo CODX
          .header__nav
            a.header__nav-item About us
            a.header__nav-item NFTs
            a.header__nav-item Contact
        .header__aside
          .header__links
            a.header__link-item twit
            a.header__link-item inst
            a.header__link-item fb
          a.header__btn View on OpenSea
        <button class="navbar-toggler third-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent22" aria-controls="navbarSupportedContent22" aria-expanded="false" aria-label="Toggle navigation">
          <div class="animated-icon"><span></span><span></span><span></span></div>
        </button>
