mixin header(headerMods, currentUrl)
  header.header(class=headerMods)
    .container
      .header__inner
        .header__main
          a(href="#").header__logo NFT-Base
          .header__nav
            a(href="#about").header__nav-item About us
            a(href="#nft").header__nav-item NFTs
            a(href="#footer").header__nav-item Contact
        .header__aside
          .header__links
            a(href="#").header__link-item
              +icn('icn-twit', 24, 24)
            a(href="#").header__link-item
              +icn('icn-inst', 24, 24)
            a(href="#").header__link-item
              +icn('icn-fb', 24, 24)
          a(href="#").header__btn View on OpenSea
        <button class="navbar-toggler third-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent22" aria-controls="navbarSupportedContent22" aria-expanded="false" aria-label="Toggle navigation">
          <div class="animated-icon"><span></span><span></span><span></span></div>
        </button>