extends ../components/base/layout

block variables
  - const title = "NFT-Base"
  - const hasHeader = true
  - const hasFooter = true
  - const pageMods = ""
  - const headerMods = ""
  - const footerMods = ""
  - const currentUrl = "index.html" //- индекс активного пункта меню

block main
  +tagline-section()
  +carousel-section()
  +person-section()
  +case-section()
  +powers-section()
  //- +heroes-section()
  +collection-section()
  +nft-section()
  +faq-section()